
#navbar-primary .navbar-nav {
  display: flow-root; 
    
    width: 100%;
    margin-bottom: 1.45rem;

    
    text-align: center;
    > li {
      color: whitesmoke;
      font-family:'Segoe UI';
      // background: brown;
      display: inline-block;
      float: none;
      border-radius:10px;
      margin: 0 10px;
      > a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 30px;
      }
     
    }
  }
  .container-fluid{
    display: flow-root; 
    padding-right: inherit; 
    padding-left: inherit;
  }

.navbar {
  // background: #FDF8C1;
  background:none;
  margin-left:-1.45rem;
    padding: 0 !important; 
   
}
